<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tabmenu</title>
    <link rel="stylesheet" href="css/tabmenu.css">
</head>
<body>
    <div id="wrap">
        <header id="header" class="clearfix">
            <h1 class="logo">로고</h1>
            <nav class="nav">메뉴</nav>
        </header>
    <section id="banner">
        <h2>이미지 슬라이드</h2>
    </section>
    <section id="contents" class="clearfix">
        <div class="cont1">
            <div class="tab-menu">
                <div class="tab-btn">
                    <ul>
                        <li class="active"><a href="#">공지사항1</a></li>
                        <li><a href="#">공지사항2</a></li>
                    </ul>
                </div>
                <div class="tab-cont">
                    <div>
                        1. Tab Menu DESC <br> 1. Tab Menu DESC <br> 1. Tab Menu DESC <br>
                    </div>
                    <div>
                        2. Tab Menu DESC <br> 2. Tab Menu DESC <br> 2. Tab Menu DESC <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont2"><h3>갤러리</h3></div>
        <div calss="cont3"><h3>팝업</h3></div>
    </section>
    <footer id="footer" class="clearfix">
        <div class="foot1"><h3>로고</h3></div>
        <div class="foot2"><h3>Copyright</h3></div>
        <div class="foot3"><h3>SNS</h3></div>
    </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        var tabBtn = $(".tab-btn > ul > li");
        var tabCont = $(".tab-cont > div");

        tabCont.hide().eq(0).show(); /* 공지사항 1만 먼저 보여줘라 */

        tabBtn.click(function(e){
            e.preventDefault(); /* 기본키 해제 (새로고침) */
            var target = $(this); /* 어떤 버튼을 클릭했는지 모르기 때문에 target으로 두기 */
            var index = target.index();
            // alert(index); /* 확인용 */
            tabBtn.removeClass("active");
            target.addClass("active");
            tabCont.css("display","none");
            tabCont.eq(index).css("display","block");
        });
    </script>
</body>
</html>